<footer class="footer mt-auto py-3 px-3 mt-5">
                <div class="container text-center">
                    <span class="text-muted">
                        <img src="/assets/logo/prfl-logo.svg" height="35px" />
                    </span>
                </div>
            </footer>