@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar m-1 shadow-sm">
        <Header />
    </div>

    <div class="main">
        <div class="top-row px-4 mt-1 mx-1 shadow-sm">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>
        
        <div class="content">
            <div class="container">
                @Body
            </div>
        </div>
        <BottomNav />
    </div>
</div>
